:root {
    --main-color1: #478BC0;
    --main-color2: #0E5F99;
    --main-color3: #A1CEF1;
    --main-color4: #EBEEFF;
    --main-color5: #00011D;
}

.nav-item > button {
    width: 25vw;
    border: none;
    background: none;
}

.footer-button > img {
    height: 50px;
}

.chart-container {
    width: 100%;
}





@media screen and (max-width: 575px) {

    #summary-stat {
        width: 100%;
    }
}


.background-color {
    background-color:var(--main-color4);
}

/*About Page*/

.banner1 {
    width:100%;
    display:block;
}

.banner1 > .banner-image1 {
    width:100%;
    height:30%;
    display:inline-block;
}

.about-font-color {
    color:var(--main-color2);
}

/*Water Tips Page*/

.banner2{ 
    width:100%;
    display:block;
    height:30%;
}

.banner2 > .banner-image2 {
    width:100%;
    height:30%;
    display:inline-block;
}

.tip-links {
    text-align:center;
    padding:0px;
}

.tip-links > ul {
    list-style-type:none;
    padding:0;
}



nav a{
    text-decoration:none;
    color:var(--main-color5);
}

nav a:hover {
    color:var(--main-color3);
}

.card-header{
    background-color: var(--main-color2);
}

.btn.btn-link.collapsed{
    text-decoration:none;
    color:var(--main-color4);
}

.card-body{
    background-color:var(--main-color3);
}