@import url('https://fonts.googleapis.com/css2?family=Bellota&display=swap');

:root {
    --main-color1: #478BC0;
    --main-color2: #0E5F99;
    --main-color3: #A1CEF1;
    --main-color4: #EBEEFF;
    --main-color5: #00011D;
    --overlay-color: rgba(255, 255, 255, 0.3);
}

body {
    background-color: var(--main-color5);
    color: var(--main-color4);
    height: 100vh;
}

.bg-primary, .btn-primary {
    background-color: var(--main-color1) !important;
}

.nav-item > button {
    width: 25vw;
    border: none;
    background: none;
}

.nav-item {
    text-align: center;
}

.footer-button > img {
    height: 50px;
}

/*Logo Icon Styling*/
.logoIcon {
    width:50px;
    height:50px;

}

/*Brand Name Styling*/
.navbar-brand {
    font-family: 'Bellota', serif;
    font-weight:bolder;
    font-size:20pt;
    color:#2257bf;
}

/*Main page styling*/
#main-page-chart-container {
    width: 100% !important;
    height: 100% !important;
    max-height: 500px;
    min-height: 50vh;
}

.navbar {
    padding: 0 5px;
}

.usage-chart {
    height: 50vh;
}

.navbar {
    padding: 0 5px;
}

.usage-chart {
    height: 50vh;
}

#index-logo {
    width: 80vw;
}

.main-page-btn {
    width: 50%;
}

.select-use-btn {
    height: 10vh;
    margin: 5px;
}

.machine-type-btn {
    height: 15vh;
    margin: 5px;
}

label {
    width: 100%;
}

.background-color {
    background-color:var(--main-color4);
}

.alert {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    width: max-content;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

/*View Water Logs page*/
.usage-log {
    background: var(--main-color1);
    border-radius: 20px;
}

.delete-btn {
    background-color: rgb(190, 0, 0);
}

.createdAt {
    font-weight: bold;
}


/*About Page*/

.banner1 {
    display:grid;
    grid-template-rows:25vh;
}

.banner-image1 {
    grid-row: 1 / span 1;
    width:100%;
    height:100%;
}

.about-font {
    color:var(--main-color2);
    font-size:12pt;
    padding-top:20px;
}

@media screen and (min-width: 800px) {

    .banner1 {
        display:grid;
        grid-template-rows:40vh;
    }
}

/*Usage stats page */

.usage-timescale-option {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.usage-timescale-option-label {
    background: var(--main-color1);
    border: var(--main-color2);
}

.usage-timescale-option-label.active {
    background-color: var(--main-color2) !important;
}

#usage-container {
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 1fr auto;
    grid-template-areas: "chart"
                         "tabs";
}

#water-usage-container {
    grid-area: chart;
}

#time-tabs {
    width: 50vw;
    justify-self: center;
}



/* Media queries */
@media screen and (max-width: 575px) {

    #summary-stat {
        width: 100%;
    }
}

@media screen and (min-width: 576px) {

    .main-page-btn {
        height: 10vh;
    }
}

/*Water Tips Page*/

.banner2{ 
    display:grid;
    grid-template-rows: 25vh;
}

.banner-image2 {
    width:100%;
    height:100%;
    grid-row:1 / span 1;
}

@media screen and (min-width: 800px) {

    .banner2{ 
        display:grid;
        grid-template-rows: 50vh;
    }
}

.tip-links {
    text-align:center;
    padding:0px;
}

.tip-links > ul {
    list-style-type:none;
    padding:0;
}

nav a{
    text-decoration:underline;
    color:var(--main-color2);
}

nav a:hover {
    color:var(--main-color3);
}

.card-header{
    background-color: var(--main-color2);
}

.btn.btn-link.collapsed{
    text-decoration:none;
    color:var(--main-color4);
}

.card-body{
    background-color:var(--main-color3);
}

#home-modal-title > span {
    font-size: 10pt;
}

/* Settings */
#logout-btn {
    margin-top: 10vh;
}

/*Water Bill*/

.billGrid{
    display:grid;
    grid-template-rows: 22vh 1vh 20vh 20vh 20vh;
}

.billHeader {
    grid-row: 1 / span 1;
    height:100%;
    width:100%;
    padding:30px;
    padding-top:40px;
    background-image: url(../images/banner2.jpg);
}

.weekCost {
    grid-row: 3 / span 1;
    height:90%;
    align-self:center;
}

.monthCost {
    grid-row: 4 / span 1;
    height:90%;
    align-self:center;
}

.yearCost {
    grid-row: 5 / span 1;
    height:90%;
    align-self:center;
}

.billTitle{
    font-weight:bold;
}

.billGreeting{
    font-weight:bolder;
    font-size:large;
    margin:0;
}

.textBlockCenter { 
    margin: 0px auto; 
    width: 90%; 
    background: #aabbcc;
    text-align:center;
    background-color:var(--main-color4);
 }

 .border {
    border-radius:25px;
 }

 .billText{
    font-style:bold;
    font-size:large;
 }

 div h2{
    font-size:large;
 }

 .dark {
    background-color: var(--main-color2);
    color: var(--main-color4);
 }

 .light{
    background-color: var(--main-color3);
    color: var(--main-color2);
 }

 @media screen and (min-width: 500px) {

    .billGrid{
        display:grid;
        grid-template-rows: 25vh 1vh 18vh 18vh 18vh;
    }

    .textBlockCenter { 
        margin: 0px auto; 
        width: 60%; 
        background: #aabbcc;
        text-align:center;
        background-color:var(--main-color4);
     }
    
}
